<! DOCTYPE html>
<html>
<head>
  <title>Lost Pump</title>
  <script src='/js/lib/vue-2.1.4.js'></script>
  <script src='/js/lib/jquery-3.1.1.min.js'></script>
  <script src="https://use.fontawesome.com/e81f5f3c0d.js"></script>

  <script src='/js/components/settingsComponent.js'></script>
  <script src='/js/main.js'></script>

<!-- RESET IS CALLED THROUGH A PARTIAL AT THE BEGINNING OF SASS FILE -->
<link rel='stylesheet' href='/css/style.min.css'>
</head>
<body>
  <div id='app'>
  <section class='intro'>
    <h1>lost your pump? <b>get instructions for multiple daily injections (MDI)</b></h1>
    <p class="description">Use this tool to generate MDI use instruction to when you for some reason cannot use your pump.</p>
  </section>
  <section class='pump'>
    <label for="pumpid">Pump ID</label>
    <input v-on:change='loadSample' type="text" id="pumpid">
    or
    <a href='#' class="button" v-on:click='createPump'>create a new pump</a>
  </section>
  <section v-if='pumpFound === false' class='notfound'>
    <h2>No pump found</h2>
  </section>
  <section v-if='waiting' class='waiting'>Waiting for data from the server</section>
  <section v-if='!waiting && pumpFound' class='pumpSettings'>
    <h2>Basal rate</h2>
    <settings-module v-bind:propdata='settings.basal'></settings-module>
    <h2>Carb Ratio</h2>
    <settings-module v-bind:propdata='settings.carbRatio'></settings-module>
    <h2>Insulin Sensitivity</h2>
    <settings-module v-bind:propdata='settings.insulinSens'></settings-module>
    <h2>Carb Ratio</h2>
    <settings-module v-bind:propdata='settings.bgTarget'></settings-module>
  </section>
  <section class='regiment'>
    <p></p>
    <!-- HIDE PRINT-BUTTON IF THERE ARE NO RESULTS -->
    <a href='#' class="button print" v-on:click='print'>Print <i class="fa fa-file-text-o" aria-hidden="true"></i></a>
  </section>
  </div>
</body>
</html>
