<!DOCTYPE html>
<html>
<head>
  <!-- TEST TEST-->
  <title>Pumpeindstillinger</title>
  <script src='/js/lib/vue-2.1.4.js'></script>
  <script src='/js/lib/jquery-3.1.1.min.js'></script>
  <script src='/js/lib/text-table.js'></script>
  <script src="https://use.fontawesome.com/e81f5f3c0d.js"></script>
  <script src="https://cdn.jsdelivr.net/clipboard.js/1.5.16/clipboard.min.js"></script>

  <script src='/js/components/settingsComponent.js'></script>
  <script src='/js/components/pumpSettingsSection.js'></script>
  <script src='/js/calc.js'></script>
  <script src='/js/main.js'></script>

  <!-- RESET IS CALLED THROUGH A PARTIAL AT THE BEGINNING OF SASS FILE -->
  <link rel='stylesheet' href='/css/style.min.css'>
</head>
<body>
  <div id='app'>
  <div class='notification'></div>
  <div
    class='card-intro'
    v-if='!disableInputGlobal'>
    <section class='intro'>
      <h1>Pumpeindstillinger</h1>
      <p class='description'>
        Opbevar pumpeindstillinger &amp; generér MDI instruktioner – udskriv, send via email eller kopiér til journal.
        <span v-if='showFullIntroText'>Dette værktøj gemmer pumpeindstillinger. Du kan fremsøge en eksisterende pumpe ved hjælp af dens pumpe-ID, eller du kan oprette en ny pumpe. Derefter kan du ændre og gemme indstillinger som det passer, og du har mulighed for at kopiere indstillingerne som tekst til journalen. Du kan også sende indstillingerne og instruktion for MDI-behandling ved pumpenedbrud eller lignende, til patienten via email.</span>
        <a @click='toggleIntroText' v-if='!showFullIntroText' class="readmore">læs mere</a>
      </p>
    </section>
  </div>
  <div class='card app'>
  <section class="airportNotice"><h2 class="printHeadline">Insulin Pump Certficate</h2>
   <p id='patientName'></p>
   <p>It is hereby certified that this patient has Type 1 diabetes and is treated with an insulin pump.</p>
   <p>The person needs to carry as well material for the insulin pump treatment as insulin injection pens and blood glucose meter in the hand luggage.</p>
   <p>The insulin pump may alarm in airport detectors etc.</p>
   <p>It is vital to this person that the insulin pump is not removed from the body more than 30-60 minutes.</p>
   <p>In case of problems regarding this patient and diabetes please contact:</p></br>
   <p><i>Dep. of Endocrinology, Hvidovre Hospital, Denmark:</br>
   tel: +45 36 32 33 88</i></p>
   </br>
  </section>
  <section class='pump'>
    <h2 class="printHeadline">Pumpe indstillinger</h2>
    <label for="pumpid">Pumpe ID:</label>
    <input autofocus="autofocus" class='singleInput' :disabled='disableInput' v-model='pumpid' type="text" id="pumpid" v-on:keyup.enter='loadSample'>
    <span class='pumpCreate'></span>
    <a
      href='#'
      class="pumpCreate button"
      v-if='!pumpFound'
      v-on:click='loadSample'>
      Søg eller opret</a>
  </section>
  <a
    href='/'
    class='close hideInPrint'
    tabindex="-1"
    v-if='pumpFound && !disableInputGlobal'>
    <span class='close-text'>luk pumpe</span>
    <span class='close-icon fa fa-times-circle'></span>
  </a>
  <section v-if='pumpFound === false' class='notfound'>
    <h2>Ingen pumpe fundet.</h2>
    <a href='#' class="pumpCreate link" v-on:click='createPump'>Opret ny pumpe.</a>
  </section>
  <section v-if='waiting' class='waiting'><h2>Søger efter pumpe-data<div class="spinner"></div>
  </h2></section>
  <section v-if='!waiting && pumpFound' class='pumpSettings'>
    <div class='pumpModel'>
      <label for="pumpModel">Pumpefirma og -model:</label><input :disabled='disableInput' class='singleInput' v-model='settings.pumpModel' type="text" id="pumpModel">
    </div>
    <h2>Basalrate</h2>
    <settings-module :disableInput='disableInput':propdata='settings.basal'></settings-module>
    <ol>
      <li>
        <h2>Kulhydrat-insulin-forhold</h2>
        <settings-module :propdata='settings.carbRatio'></settings-module>
      </li>
      <li>
        <h2>Insulin-sensitivitet</h2>
        <settings-module :propdata='settings.insulinSensitivity'></settings-module>
      </li>
      <li>
        <h2>Mål-blodsukker</h2>
        <settings-module :propdata='settings.bgTarget'></settings-module>
        </ol>
      </li>
    </ol>
    <div class='clear'></div>
    <div class='insulinActionTime'>
      <label for="insulinActionTime">Aktiv insulin-tid:</label><input :disabled='disableInput' class='singleInput' v-model='settings.insulinActionTime' type="text" id="insulinActionTime">
    </div>
    <div class="menu" :class='{ "menu-stretch": !disableInputGlobal }'>
      <a class="button save" v-on:click='save'>Gem<i class="fa fa-check" aria-hidden="true"></i></a>
      <a class="button save clipboard" v-on:click='clipboard'>Kopiér til journal<i class="fa fa-clipboard" aria-hidden="true"></i></a>
      <a class='button email print' target='_black' :href="'mailto:?subject=Dine Pumpeindstillinger&body=Pumpeindstillinger ' + url + '?pumptravelid=' + pumpid">Email <i class="fa fa-envelope" aria-hidden="true"></i></a>
      <a class="button print" v-on:click='print'>Udskriv <i class="fa fa-file-text-o" aria-hidden="true"></i></a>
    </div>
  </section>
  <section v-if='!waiting && !!regiment && showMDI' class='regiment'>
    <h2 class="printHeadline">MDI Behandling</h2>
    <p><i>Hvis din insulinpumpe stopper med at fungere, må du overgå til behandling med insulinpen, indtil en ny kan skaffes.</i></p>
    <p>Du har to valgmuligheder:</p>
    <h3>Du har <b>KUN HURTIGVIRKENDE INSULIN</b> (novorapid, humalog, apidra) i penne/engangssprøjter</h3>
    <ol>
      <li>
        Til at dække din manglende basalrate, skal du tage:
        <ul>
          <li>Kl. ca. 24: <b>{{regiment.rapidDoseBreakDown.t24}} enheder</b></li>
          <li>Kl. ca. 04: <b>{{regiment.rapidDoseBreakDown.t4}} enheder</b></li>
          <li>Kl. ca. 08: <b>{{regiment.rapidDoseBreakDown.t8}} enheder</b></li>
          <li>Kl. ca. 12: <b>{{regiment.rapidDoseBreakDown.t12}} enheder</b></li>
          <li>Kl. ca. 16: <b>{{regiment.rapidDoseBreakDown.t16}} enheder</b></li>
          <li>Kl. ca. 20: <b>{{regiment.rapidDoseBreakDown.t20}} enheder</b></li>
        </ul>
      </li>
      <li> Til at dække din bolus skal du:
        <ul>
          <li> Tage <b>1 enhed</b> for ca. hver <b>{{regiment.carbRatio}} gram</b> kulhydrat du spiser</li>
          <li> Hvis dit BS er højere end dit BS-mål, skal du lægge oveni:
            <ul>
              <li> ca. <b>1 enhed</b> hvis du er <b>{{regiment.insulinSensitivity}} mmol/l</b> højere,</li>
              <li> ca. <b>2 enheder</b> hvis <b>{{2*regiment.insulinSensitivity}} mmol/l</b>  højere,</li>
              <li> og så fremdeles...</li>
            </ul>
          </li>
        </ul>
      </li>
    </ol>
    <h3>Du har <b>BÅDE</b> noget <b>HURTIGVIRKENDE</b> insulin og <b>LANGSOMTVIRKENDE</b> (levemir eller lantus)</h3>
    <ol>
      <li>
        Basalraten dækkes af 2 injektioner langsomtvirkende insulin:
        <ul>
          <li>Kl. ca. 7 tager du <b>{{regiment.basalDoseMorning}} enheder</b> og kl. ca. 19 tager du <b>{{regiment.basalDoseAfternoon}} enheder</b>.</li>
        </ul>
      </li>
      <li>
        Til at dække din bolus skal du tage hurtigvirkende insulin:
        <ul>
          <li><b>1 enhed</b> for ca. hver <b>{{regiment.carbRatio}} gram</b> kulhydrat du spiser</li>
          <li>Hvis dit BS er højere end dit BS-mål, skal du lægge oveni:
            <ul>
              <li> ca. <b>1 enhed</b> hvis du er <b>{{regiment.insulinSensitivity}}</b> mmol/l højere,</li>
              <li> ca. <b>2 enheder</b> hvis <b>{{2*regiment.insulinSensitivity}}</b> mmol/l  højere,</li>
              <li> og så fremdeles...</li>
            </ul>
          </li>
        </ul>
      </li>
    </ol>

  </section>
  <a
    class="showMDI hideInPrint"
    v-if='!waiting && pumpFound && !disableInputGlobal'
    v-on:click='toggleMDI'>
    <span v-if='showMDI'>Skjul</span><span v-if='!showMDI'>Vis</span> MDI behandling<i class="fa" aria-hidden="true"></i>
  </a>
  </div>


  </div>
  <div class='spacer'></div>
  <footer>
    <p>Made with <i class="fa fa-heart" aria-hidden="true"></i> by <a href="http://www.linehq.com" target="_blank">Line Health</a></p>
  </footer>
</body>
</html>
