<!DOCTYPE html>
<html>
<head>
  <title>Lost Pump</title>
  <script src='/js/lib/vue-2.1.4.js'></script>
  <script src='/js/lib/jquery-3.1.1.min.js'></script>
  <script src="https://use.fontawesome.com/e81f5f3c0d.js"></script>

  <script src='/js/components/settingsComponent.js'></script>
  <script src='/js/components/pumpSettingsSection.js'></script>
  <script src='/js/calc.js'></script>
  <script src='/js/main.js'></script>

  <!-- RESET IS CALLED THROUGH A PARTIAL AT THE BEGINNING OF SASS FILE -->
  <link rel='stylesheet' href='/css/style.min.css'>
</head>
<body>
  <div id='app'>
  <section class='intro'>
    <h1>Er din insulinpumpe kaput?</h1>
    <p class="description">Brug dette værktøj til at generere injektions-instrukser, når din insulinpumpe, af den ene eller anden årsag, ikke er tilgængelig. Start med at søge efter din pumpe ID. Hvis den ikke findes i systemet, så opret den med dens ID og indstillinger, tryk GEM OG KALKULÉR, og systemet vil udregne dine injektions-instrukser.
  </section>
  <section class="airportNotice"><h2 class="printHeadline">Insulin Pump Certficate</h2>
<p>It is hereby certified that this patient has Type 1 diabetes and is treated with an insulin pump.</p>
<p>The person needs to carry as well material for the insulin pump treatment as insulin injection pens and blood glucose meter in the hand luggage.</p>
<p>The insulin pump may alarm in airport detectors etc.</p>
<p>It is vital to this person that the insulin pump is not removed from the body more than 30-60 minutes.</p>
<p>In case of problems regarding this patient and diabetes please contact:</p></br>
<p><i>Dep. of Endocrinology, Hvidovre Hospital, Denmark:</br>
tel: +45 36 32 33 88</i></p>
</br>
  </section>

  <section class='pump'>
    <h2 class="printHeadline">Pumpe indstillinger</h2>
    <label for="pumpid">Pumpe ID:</label>
    <input class='singleInput' :disabled='disableInput' v-model='pumpid' v-on:change='loadSample' type="text" id="pumpid">
    <span class='pumpCreate'>eller</span>
    <a href='#' class="pumpCreate button" v-on:click='createPump'>opret ny pumpe</a>
  </section>
  <section v-if='pumpFound === false' class='notfound'>
    <h2>Ingen pumpe fundet. Opret en ny pumpe.</h2>
  </section>
  <section v-if='waiting' class='waiting'><h2>Søger efter pumpe-data<div class="spinner"></div>
  </h2></section>
  <section v-if='!waiting && pumpFound' class='pumpSettings'>
    <h2>Basal-rate</h2>
    <settings-module :disableInput='disableInput' :propdata='settings.basal'></settings-module>
    <ol>
      <li>
        <h2>Kulhydrat-rate</h2>
        <settings-module :propdata='settings.carbRatio'></settings-module>
      </li>
      <li>
        <h2>Insulin Sensisivitet</h2>
        <settings-module :propdata='settings.insulinSensitivity'></settings-module>
      </li>
      <li>
        <h2>Blodsukker Target</h2>
        <settings-module :propdata='settings.bgTarget'></settings-module>
        </ol>
      </li>
    </ol>
    <div class='clear'></div>
    <div class='insulinActionTime'>
      <label for="insulinActionTime">Aktiv insulin tid:</label><input :disabled='disableInput' class='singleInput' v-model='settings.insulinActionTime' type="text" id="insulinActionTime">
    </div>

    <a href='#' class="button save " v-on:click='calculateRegiment'>Gem og kalkulér <i class="fa fa-check" aria-hidden="true"></i></a>
  </section>
  <section v-if='!waiting && !!regiment' class='regiment'>
    <h2 class="printHeadline">Injektions-instrukser</h2>
    <p><i>Hvis din insulinpumpe stopper med at fungere, må du overgå til behandling med insulinpen, indtil en ny kan skaffes.</i></p>
    <p>Du har to valgmuligheder:</p>
    <h3>Du har <b>KUN HURTIGVIRKENDE INSULIN</b> (novorapid, humalog, apidra) i penne/engangssprøjter</h3>
    <ol>
      <li>
        Til at dække din manglende basalrate, skal du tage:
        <ul>
          <li>Kl. ca. 24: <b>{{regiment.rapidDoseBreakDown.t24}} enheder</b></li>
          <li>Kl. ca. 04: <b>{{regiment.rapidDoseBreakDown.t4}} enheder</b></li>
          <li>Kl. ca. 08: <b>{{regiment.rapidDoseBreakDown.t8}} enheder</b></li>
          <li>Kl. ca. 12: <b>{{regiment.rapidDoseBreakDown.t12}} enheder</b></li>
          <li>Kl. ca. 16: <b>{{regiment.rapidDoseBreakDown.t16}} enheder</b></li>
          <li>Kl. ca. 20: <b>{{regiment.rapidDoseBreakDown.t20}} enheder</b></li>
        </ul>
      </li>
      <li> Til at dække din bolus skal du:
        <ul>
          <li> Tage <b>1 enhed</b> for ca. hver <b>{{regiment.carbRatio}} gram</b> kulhydrat du spiser</li>
          <li> Hvis dit BS er højere end dit BS-mål, skal du lægge oveni:
            <ul>
              <li> ca. <b>1 enhed</b> hvis du er <b>{{regiment.insulinSensitivity}} mmol/l</b> højere,</li>
              <li> ca. <b>2 enheder</b> hvis <b>{{2*regiment.insulinSensitivity}} mmol/l</b>  højere,</li>
              <li> og så fremdeles...</li>
            </ul>
          </li>
        </ul>
      </li>
    </ol>
    <h3>Du har <b>BÅDE</b> noget <b>HURTIGVIRKENDE</b> insulin og <b>LANGSOMTVIRKENDE</b> (levemir eller lantus)</h3>
    <ol>
      <li>
        Basalraten dækkes af 2 injektioner langsomtvirkende insulin:
        <ul>
          <li>Kl. ca. 7 tager du <b>{{regiment.basalDoseMorning}} enheder</b> og kl. ca. 19 tager du <b>{{regiment.basalDoseAfternoon}} enheder</b>.</li>
        </ul>
      </li>
      <li>
        Til at dække din bolus skal du tage hurtigvirkende insulin:
        <ul>
          <li><b>1 enhed</b> for ca. hver <b>{{regiment.carbRatio}} gram</b> kulhydrat du spiser</li>
          <li>Hvis dit BS er højere end dit BS-mål, skal du lægge oveni:
            <ul>
              <li> ca. <b>1 enhed</b> hvis du er <b>{{regiment.insulinSensitivity}}</b> mmol/l højere,</li>
              <li> ca. <b>2 enheder</b> hvis <b>{{2*regiment.insulinSensitivity}}</b> mmol/l  højere,</li>
              <li> og så fremdeles...</li>
            </ul>
          </li>
        </ul>
      </li>
    </ol>
    <a href='#' class="button print" v-on:click='print'>Print <i class="fa fa-file-text-o" aria-hidden="true"></i></a>
    <a class='button email print' target='_black' :href="'mailto:?subject=Pump Settings&body=Your pump settings https://hidden-bastion-66980.herokuapp.com/?pumpid=' + pumpid">Email <i class="fa fa-file-text-o" aria-hidden="true"></i></a>
  </section>

  </div>
</body>
</html>
