// PARTIALS
@import "partials/_reset.scss";

// FONT IMPORTS
@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:200,300,400,700');

// Variables

$lineHeight: 1.45em;

// MIXINS

@mixin hideOverflow ($lines) {
  overflow: hidden;
  // display: -webkit-box !important;
  line-height: $lineHeight;
  max-height: $lines !important;
  // -webkit-text-fill-color: transparent;
  // -webkit-box-orient: vertical;
  // -webkit-background-clip: text;
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
  &.showOverflow {
    overflow: visible;
    display: normal !important;
    max-height: none !important;
    // -webkit-text-fill-color: $darkColoredFont;
    background: none;
    // -webkit-box-orient: vertical;
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
    // margin-bottom: $nav-height;
  }
  @content;
}


// COLORS
$bg: #d9e0e2;
$primBG: #f0f3f4;
$secBG: #cfd9db;
$primFont: #3c4b4f;
$secFont: #79939a;
$darkColoredFont: rgb(31, 116, 172);
$button: #3498db;
$buttonDark: #7093ab;
$buttonHover: #99cbed;
$tableHover: #d4e8f6;
$tableOdd: white;
$tableBorder: #cdd1d5;
$inputColor: #ffffff;
$thBG: rgb(98, 122, 128);

$bigSize: 16px;
$printTextSize: 0.4em;

html,body {
  height: 100%;
}
body {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.15em;
  line-height: 1.6em;
  display: flex;
  flex-direction: column;
  background-color: $bg;
  color: $primFont;

  p {
    color: $primFont;
    margin: 5px 0;
    line-height: 1.6em;
  }

  h2 {
    font-size: $bigSize;
    padding: 10px 0px;
  }

  .card {
    background: $primBG;
    margin: 1.5% auto;
    padding: 45px;
    border-radius: 3px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
    width: 824px;
  }

  .app {
    position: relative;
    display: block;
    margin: 1.5% auto 100px auto;
  }
    section {
      padding-bottom: 15px;
    }

    h1 {
      font-size: 1.25em;
      line-height: 1.2em;
      font-weight: 400;
      padding-bottom: 10px;

      b {
        font-size: 0.80em;
        font-weight: 200;
        text-transform: uppercase;
        padding-left: 15px;
      }
    }
    .description {
      margin-top: 5px;
      line-height: 1.6em;
      position: relative;
      font-size: 0.8em;
      color: $secFont;
      text-align: justify;
      overflow: hidden;
    }
    .hospitals {
      padding-top: 30px;
    }

}
.spacer {
  flex: 1;
}
.save {
  margin-top: 15px;
}

label, .pump {
  font-size: $bigSize;
}
.pump {
  padding-bottom: 0px;

}


.initialSearch {

  //padding-bottom: 200px ;
//  display: block;
  //position: absolute;
  //left: 50%;
  //transform: translate(-50%, 0);

  .initialSearch-inner {
    margin-left: 15px;
    width: 400px;
    position: relative;
    right: 15px;
  }

  label {
    display: none;
  }

  input {
    width: 100%;
    padding: 15px;
    height: 26px;
    border-radius: 5px !important;
  }
  a.button {
    position: relative;
    bottom: 53px;
    left: 27px;
    float: right;
    margin: none !important;
    padding: 18px 10px !important;
    font-size: 0.85em;
    font-weight: 400;
    text-transform: uppercase;
    background: $buttonDark;
    color: white;
    border-radius: 2px;

    i {
      padding-right: 5px;
    }



    //Only styling from here, you can discard this
    -webkit-appearance: none;
    -moz-appearance: none;

    border: none;
    border-radius: 3px;
    padding: 10px;

    transition: all .2s;

    &:hover {
      background-color: $buttonHover;
      color: #fff;
    }
  }


  /*
    a.button {
    font-size: 0.85em;
    font-weight: 200;
    text-transform: uppercase;
    background: $buttonDark;
    padding: none;
    color: white;
    height: initial;
    border-radius: 3px;
    display: inline-block;
  }
*/
}


.insulinActionTime {
  input {
    width: 100px;
    background: white;
    border-radius: 3px;
    margin-left: 5px;
  }
}

.pumpModel {
  padding: 20px 0 10px 0;
  input {
    width: 250px;
    background: white;
    border-radius: 3px;
    margin-left: 5px;
  }
}
/* Tablet Sections */
.pumpSettings li:first-child {
  padding-left: 0;
}
.pumpSettings li {
  float:left;
  padding: 0 10px;
}

.clear {
  clear: both;
}
/*     Table Styles */

.table {
  margin-bottom: 24px;

  .sum {
    font-size: 0.80em;
    padding: 5px;
  }
}

table {
  background: white;

  padding:5px;
  width: inherit;

  input {

  }
}

th {
  background: #d9e0e2;
  border-right: 1px solid $tableBorder;
  font-size: 0.70em;
  padding: 8px;
  text-align: left;
  vertical-align: middle;
}

td:first-child, th:first-child {
  //border-top-left-radius:3px;
  border-left:none;
}

td:last-child, th:last-child {
  //border-top-right-radius:3px;
  border-right:none;
}

tr:last-child {
  //border-top-right-radius:3px;
  td {

  }
  border-bottom:none;
}


tr {
  font-weight:normal;
}

/*
tr:hover td {
  background:$tableHover;
//  border-top: 1px solid #22262e;
//  border-bottom: 1px solid #22262e;
} */

tr:first-child {
  border-top:none;
}

tr:last-child {
  border-bottom:none;
}

tr:nth-child(odd) td {
  background:$tableOdd;

  &:hover {
    background: $tableHover;
  }
}

/*
tr:nth-child(odd):hover td {
  background:$tableHover;
}
*/

tr:last-child td:first-child {
  border-bottom-left-radius:3px;
}

tr:last-child td:last-child {
  border-bottom-right-radius:3px;
}

td {
  background: $inputColor;
  text-align: left;
  vertical-align: middle;
  width: 110px;
  border: 1px solid $tableBorder;
}

td:hover {
  background:$tableHover;
}

input {
  font-size: 0.80em;
  width: 100%;
  height: 25px;
  background: transparent;
  border: 0px;
  padding: 1px 0px 1px 0px;
  text-indent: 8px;
}

.pump input {
  width: inherit;
  background: $inputColor;
  border-radius:3px;
}

textarea:focus, input:focus{
    outline: none;
    background: $tableHover;
}

td:last-child {
  border-right: 0px;
}

/* Stuff hidden in screen style */

.airportNotice {
  display: none;
}

.printHeadline {
  display: none;
}

/*    RESULTS STYLING */

.regiment {

  font-size: 0.85em;

  h3, p, li {
    line-height: 1.6em;
  }

  h3 {
    color: $darkColoredFont;
  }

  ol > li, ul > li {
    margin-left: 1.75em;
  }

  ol {
    list-style-type: lower-alpha;
    list-style-position: outside;
    list-style-image: none;
    list-style-color: red;

    padding: 10px 0px;

    li {
      line-height: 1.6em;
      text-indent: 0px;
    }
  }
  ul {
    li {
      list-style: circle inside none;
    }
  }
}

.button {
  font-size: 0.85em;
  font-weight: 200;
  text-transform: uppercase;
  background: $buttonDark;
  padding: 9px 12px;
  color: white;
  height: initial;
  border-radius: 3px;
  display: inline-block;

  &:hover{
  background: $buttonHover;
  transition: background-color 0.2s ease;
  }

  i {
    font-size: 0.80em;
    font-weight: 400;
    position: relative;
    bottom: 0.15em;
    padding-left: 0.25em;
  }

}

/*    SYSTEM STATUS FEEDBACK SECTIONS */

.notfound {
  padding-top: 20px;
  font-size: 16px;
}

.waiting, .notfound {
    width: 430px;
    font-size: $bigSize;
    color: #74cc99;
//    padding: 20px 30px;
    border-radius: 4px;
}

.notfound h2 {
//  background: rgba(211, 84, 0, 0.2);
  color: #d66c51;
}

.waiting h2 {
  color: #74cc99;
}
.waiting {
  padding-top: 20px;
}

/*     LOAD ANIMATION */

.spinner {
  width: 18px;
  height: 18px;
  background-color: #74cc99;
  display: inline-block;

  margin: 0px 0px -3px 20px;


  -webkit-animation: sk-rotateplane 1.2s infinite ease-in-out;
  animation: sk-rotateplane 1.2s infinite ease-in-out;
}

.link {
  color: $button;

  &:hover {
    text-decoration: underline;
  }
}
@-webkit-keyframes sk-rotateplane {
  0% { -webkit-transform: perspective(120px) }
  50% { -webkit-transform: perspective(120px) rotateY(180deg) }
  100% { -webkit-transform: perspective(120px) rotateY(180deg)  rotateX(180deg) }
}

@keyframes sk-rotateplane {
  0% {
    transform: perspective(120px) rotateX(0deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg)
  } 50% {
    transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg)
  } 100% {
    transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
    -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
  }
}

footer {
  text-align: right;
  padding: 0 20px 10px 0;

  p {
    font-size: 0.75em;
    color: $secFont;
  }

  a {
    color: $button;

    &:visited {
      color: $button;
    }

    &:hover {
      text-decoration: underline;
    }
  }

  i {
    padding: 0px 2px;
    color: rgba(231, 76, 60, 0.8);
    &:hover {
      color: rgba(231, 76, 60, 1.0);
    }
  }
}

@media print {
  input {
    padding: 0 !important;
    height: 20px;
  }
  .regiment {
    border: 0px !important;
    padding: 0px !important;
    padding-top: 20px;
  }

  .singleInput {
    height: 100% !important;
    margin: 0px !important;
  }

  h2, label, .pump, .sum, .singleInput {
    font-size: $printTextSize !important;
  }

  body {
    background: white !important;
  }

  .app {
    background: white !important;
    margin: 0 auto !important;
    display: block;
    padding: 0 !important;
    border-radius: none !important;
    box-shadow: none !important;
  }

  section {
    background: white !important;
    padding-bottom: 0 !important;
  }

  td {
    width: 80px !important;
  }
  // Hide stuff not needed in print
  .card-intro, .hideInPrint, .pumpCreate, .notfound, .waiting, .print, .save, .intro, footer  {
    display: none !important;
  }

  // Show stuff needed in print
  .airportNotice {
    display: inherit !important;
    font-size: $printTextSize;
    line-height: 1.0em;
  }

  .printHeadline {
    display: inherit !important;
    text-transform: uppercase;
    text-decoration: underline;
  //  font-size: $bigSize !important;
    font-weight: bold !important;
  }

  // Convert colors to grey-scale

  body, p, h2, h3, th, tr, td, li  {
    color: black !important;
  }

  td:last-child {
    border-right: 1px solid grey;
  }

  td {
    border: 1px solid grey !important;
  }

  // Resize text

  .regiment {
    font-size: $printTextSize !important;
  }

  .insulinActionTime {
    font-size: $printTextSize !important;
    input {
    }
  }

  table {
    margin-bottom: 10px;
    box-shadow: none;
    border: 0px;
    font-size: $printTextSize !important;

    th {
      border-radius: 0px !important;
      background: white;
      border: none !important;
    }

    tr {
      border: 0px;

      &:last-child {
        display: none;
      }
    }
  }
}
a:hover {
  cursor: pointer;
}
$green: #74cc99;

.notification {
  position: fixed;
  top: 0px;
  min-width: 150px;
  margin-left: -90px;
  padding: 15px;
  color: white;
  left: 50%;
  background: $green;
  font-size: 15px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  text-transform: uppercase;
  text-align: center;
  display: none;
}

.menu {
  position: absolute;
  bottom: 0px;
  left: 50%;
  height: initial;
  transform: translate(-50%, 100%);
  padding: 0px 10px;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
  text-align: center;
  background-color: #7d8084;
  .button {
    margin: 8px 4px;
    background: none;

    &:hover {
      color: $buttonHover;
    }
  }
}
.menu-stretch {
  width: 530px;
}

.intro {
  a {
    color: $button;

    &:hover {
      text-decoration: underline;
    }
  }

  ul {
    white-space: nowrap;
    li {
      display: block;
      margin-right: 35px;
      list-style: none;
      display: inline;

      img {
        width: 100px;
      }
    }

    li:-child  {
      margin-right: none;
    }

    li:last-child {
      margin-right: none;
      position: relative;
    }
  }
}
.regiment {
  border: 1px solid lightgray;
  margin-top: 20px;
  padding-top: 20px;
  background: white;
  padding: 20px;
}
.close {
  display: flex;

  .close-text {
    font-size: 15px;
    line-height: 21px;
    padding-right: 5px;
    opacity: 0.6;
  }
  .close-icon {
    font-size: 25px;
    color: #d66c51;
  }
  color: gray;
  padding: 3px;
  position: absolute;
  top: 20px;
  right: 20px;
}

.close:hover {
  .close-icon {
    color: #d23912;
  }
  .close-text {
    opacity: 1;
  }
}
.showMDI {
  font-size: 15px;
  margin-top: 15px;
  display: inline-block;
  color: $button;

  &:hover {
    text-decoration: underline;
  }
}
.card-intro {
  width: 914px;
  margin: 0 auto;
  padding-top: 2.5%;
}
.fa-heart {
  color: #d66c51;
}
.search {
  padding-top: 25px;
}
