// PARTIALS
@import "partials/_reset.scss";

// FONT IMPORTS
@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:200,300,400,700');

// COLORS
$bg: #3498db;
$primBG: #ecf0f1;
$secBG: #cfd9db;
$primFont: #3c4b4f;
$secFont: #79939a;
$button: #99cbed;
$tableHover: #f0f7fc;
$tableOdd: #eef1f1;
$tableBorder: #cdd1d5;
$inputColor: #ffffff;
$thBG: #cdd1d5;

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.15em;
  line-height: 1.6em;
  background: $bg;
  color: $primFont;

  p {
    color: $primFont;
    line-height: 1.6em;
  }

  div#app {
    background: $primBG;
    margin: 10% auto;
    display: block;
    margin: 4% auto;
    padding: 4%;
    min-width: 400px;
    max-width: 800px;
    border-radius: 4px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);

    section {
      padding-bottom: 35px;
    }

    h1 {
      font-size: 1.25em;
      line-height: 1.2em;
      font-weight: 400;
      padding-bottom: 25px;

      b {
        font-size: 0.80em;
        font-weight: 200;
        text-transform: uppercase;
        padding-left: 15px;
      }
    }
    p.description {
      font-size: 0.8em;
      color: $secFont;
    }

  }
}

li {
  padding: 5px;
}

section.waiting {
  background: $secBG;
  padding: 0px;
  color: green;
  border-radius: 4px;
  display: inline-block;
}

/*** Table Styles **/

table {
  background: white;
  border-radius:3px;
  border-collapse: collapse;
//  height: 320px;
//  margin: auto;
//  max-width: 600px;
  padding:5px;
  width: inherit;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
  animation: float 5s infinite;
  margin-bottom: 24px;
}

th {
  color: #fff;
  background: $primFont;
  border-bottom:2px solid $tableBorder;
  border-right: 1px solid $primFont;
  font-size: 0.70em;
  padding: 8px;
  text-align: left;
  vertical-align: middle;
}

th:first-child {
  border-top-left-radius:3px;
}

th:last-child {
  border-top-right-radius:3px;
  border-right:none;
}


tr {
  color:#666B85;
  font-weight:normal;
  text-shadow: 0 1px 1px rgba(256, 256, 256, 0.1);
}

/*
tr:hover td {
  background:$tableHover;
//  border-top: 1px solid #22262e;
//  border-bottom: 1px solid #22262e;
} */

tr:first-child {
  border-top:none;
}

tr:last-child {
  border-bottom:none;
}

tr:nth-child(odd) td {
  background:$tableOdd;
}

/*
tr:nth-child(odd):hover td {
  background:$tableHover;
}
*/

tr:last-child td:first-child {
  border-bottom-left-radius:3px;
}

tr:last-child td:last-child {
  border-bottom-right-radius:3px;
}

td {
  background: $inputColor;
  text-align: left;
  vertical-align: middle;
  border-right: 1px solid $tableBorder;
}

td:hover {
  background:$tableHover;
}

input {
  font-size: 0.80em;
  width: 100%;
  height: 25px;
  background: transparent;
  border: 0px;
  padding: 8px;
}

.pump input {
  width: inherit;
  background: $inputColor;
}

textarea:focus, input:focus{
    outline: none;
    background: $tableHover;
}

td:last-child {
  border-right: 0px;
}

h2 {
  padding-top: 20px;
  padding-bottom: 10px;
}

.button {
  font-size: 0.85em;
  font-weight: 200;
  text-transform: uppercase;
  background: $button;
  padding: 7px 10px;
  color: white;
  border-radius: 4px;
  display: inline-block;

  &:hover{
  background: $bg;
  }

  i {
    font-size: 0.80em;
    font-weight: 400;
    position: relative;
    bottom: 0.15em;
    padding-left: 0.25em;
  }

}

@media print {

  #app {
    border-radius: 0px !important;
    box-shadow: 0px 0px 0px red !important;
  }

  // Hide stuff not needed in print
  .pump, .notfound, .waiting, .print {
  display: none;
  }

  table {

     border: 0px;

     th {

     }

     tr {

     }

     tr {

    }
  }
}
