// PARTIALS
@import "partials/_reset.scss";

// FONT IMPORTS
@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:200,300,400,700');

// COLORS
$bg: #d9e0e2;
$primBG: #f0f3f4;
$secBG: #cfd9db;
$primFont: #3c4b4f;
$secFont: #79939a;
$darkColoredFont: rgb(31, 116, 172);
$button: #3498db;
$buttonHover: #99cbed;
$tableHover: #d4e8f6;
$tableOdd: white;
$tableBorder: #cdd1d5;
$inputColor: #ffffff;
$thBG: rgb(98, 122, 128);

$bigSize: 16px;
$printTextSize: 0.4em;

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.15em;
  line-height: 1.6em;
  background-color: $bg;
  color: $primFont;

  p {
    color: $primFont;
    margin: 5px 0;
    line-height: 1.6em;
  }

  h2 {
    font-size: $bigSize;
    padding: 10px 0px;
  }


  div#app {
    background: $primBG;
    margin: 10% auto;
    display: block;
    margin: 3% auto;
    padding: 3%;
    min-height: 100%;
    min-width: 400px;
    max-width: 900px;
    border-radius: 3px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);

    section {
      padding-bottom: 15px;
    }

    h1 {
      font-size: 1.25em;
      line-height: 1.2em;
      font-weight: 400;
      padding-bottom: 10px;

      b {
        font-size: 0.80em;
        font-weight: 200;
        text-transform: uppercase;
        padding-left: 15px;
      }
    }
    p.description {
      font-size: 0.8em;
      color: $secFont;
      text-align: justify;
    }

  }
}

.save {
  margin-top: 15px;
}

label, .pump {
  font-size: $bigSize;
}

.insulinActionTime {
  input {
    width: 100px;
    background: white;
    border-radius: 3px;
    margin-left: 5px;
  }
}

.pumpModel {
  padding: 10px 0;
  input {
    width: 250px;
    background: white;
    border-radius: 3px;
    margin-left: 5px;
  }
}
/* Tablet Sections */
.pumpSettings li:first-child {
  padding-left: 0;
}
.pumpSettings li {
  float:left;
  padding: 0 5px;
}

.clear {
  clear: both;
}
/*     Table Styles */

.table {
  margin-bottom: 24px;

  .sum {
    font-size: 0.80em;
    padding: 5px;
  }
}

table {
  background: white;
  border-radius:3px;
  border-collapse: collapse;
//  height: 320px;
//  margin: auto;
//  max-width: 600px;
  padding:5px;
  width: inherit;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
  animation: float 5s infinite;

  input {

  }
}

th {
  color: #fff;
  background: $thBG;
  border-right: 1px solid $thBG;
  font-size: 0.70em;
  padding: 8px;
  text-align: left;
  vertical-align: middle;
}

th:first-child {
  border-top-left-radius:3px;
}

th:last-child {
  border-top-right-radius:3px;
  border-right:none;
}


tr {
  color:#666B85;
  font-weight:normal;
  text-shadow: 0 1px 1px rgba(256, 256, 256, 0.1);
}

/*
tr:hover td {
  background:$tableHover;
//  border-top: 1px solid #22262e;
//  border-bottom: 1px solid #22262e;
} */

tr:first-child {
  border-top:none;
}

tr:last-child {
  border-bottom:none;
}

tr:nth-child(odd) td {
  background:$tableOdd;

  &:hover {
    background: $tableHover;
  }
}

/*
tr:nth-child(odd):hover td {
  background:$tableHover;
}
*/

tr:last-child td:first-child {
  border-bottom-left-radius:3px;
}

tr:last-child td:last-child {
  border-bottom-right-radius:3px;
}

td {
  background: $inputColor;
  text-align: left;
  vertical-align: middle;
  width: 110px;
  border: 1px solid $tableBorder;
}

td:hover {
  background:$tableHover;
}

input {
  font-size: 0.80em;
  width: 100%;
  height: 25px;
  background: transparent;
  border: 0px;
  padding: 1px 0px 1px 0px;
  text-indent: 8px;
}

.pump input {
  width: inherit;
  background: $inputColor;
  border-radius:3px;
}

textarea:focus, input:focus{
    outline: none;
    background: $tableHover;
}

td:last-child {
  border-right: 0px;
}

/* Stuff hidden in screen style */

.airportNotice {
  display: none;
}

.printHeadline {
  display: none;
}

/*    RESULTS STYLING */

.regiment {

  font-size: 0.85em;

  h3, p, li {
    line-height: 1.6em;
  }

  h3 {
    color: $darkColoredFont;
  }

  ol > li, ul > li {
    margin-left: 1.75em;
  }

  ol {
    list-style-type: lower-alpha;
    list-style-position: outside;
    list-style-image: none;
    list-style-color: red;

    padding: 10px 0px;

    li {
      line-height: 1.6em;
      text-indent: 0px;
    }
  }
  ul {
    li {
      list-style: circle inside none;
    }
  }
}

.button {
  font-size: 0.85em;
  font-weight: 200;
  text-transform: uppercase;
  background: $button;
  padding: 9px 12px;
  color: white;
  border-radius: 3px;
  display: inline-block;

  &:hover{
  background: $buttonHover;
  transition: background-color 0.2s ease;
  }

  i {
    font-size: 0.80em;
    font-weight: 400;
    position: relative;
    bottom: 0.15em;
    padding-left: 0.25em;
  }

}

/*    SYSTEM STATUS FEEDBACK SECTIONS */

.waiting, .notfound {


  h2 {
    font-size: $bigSize;
//    padding: 20px 30px;
    border-radius: 4px;
    display: inline-block;
  }
}

.notfound h2 {
//  background: rgba(211, 84, 0, 0.2);
  color: rgba(211, 84, 0,1.0);
}

.waiting h2 {
  color:  rgba(39, 174, 96,1.0);
}

/*     LOAD ANIMATION */

.spinner {
  width: 18px;
  height: 18px;
  background-color: rgba(39, 174, 96,1.0);
  display: inline-block;

  margin: 0px 0px -3px 20px;


  -webkit-animation: sk-rotateplane 1.2s infinite ease-in-out;
  animation: sk-rotateplane 1.2s infinite ease-in-out;
}

@-webkit-keyframes sk-rotateplane {
  0% { -webkit-transform: perspective(120px) }
  50% { -webkit-transform: perspective(120px) rotateY(180deg) }
  100% { -webkit-transform: perspective(120px) rotateY(180deg)  rotateX(180deg) }
}

@keyframes sk-rotateplane {
  0% {
    transform: perspective(120px) rotateX(0deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg)
  } 50% {
    transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg)
  } 100% {
    transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
    -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
  }
}

footer {
  text-align: right;

  p {
    font-size: 0.75em;
    color: $secFont;
  }

  a {
    color: $buttonHover;

    &:visited {
      color: $buttonHover;
    }

    &:hover {
      color: $button;
    }
  }

  i {
    padding: 0px 2px;
    color: rgba(231, 76, 60, 0.8);
    &:hover {
      color: rgba(231, 76, 60, 1.0);
    }
  }
}

@media print {
  input {
    padding: 0 !important;
    height: 20px;
  }

  .singleInput {
    height: 100% !important;
    margin: 0px !important;
  }

  h2, label, .pump, .sum, .singleInput {
    font-size: $printTextSize !important;
  }

  body {
    background: white !important;
  }

  #app {
    background: white !important;
    margin: 0 auto !important;
    display: block;
    padding: 0 !important;
    border-radius: none !important;
    box-shadow: none !important;
  }

  section {
    padding-bottom: 0 !important;
  }

  td {
    width: 80px !important;
  }
  // Hide stuff not needed in print
  .pumpCreate, .notfound, .waiting, .print, .save, .intro, footer  {
    display: none;
  }

  // Show stuff needed in print
  .airportNotice {
    display: inherit !important;
    font-size: $printTextSize;
    line-height: 1.0em;
  }

  .printHeadline {
    display: inherit !important;
    text-transform: uppercase;
    text-decoration: underline;
  //  font-size: $bigSize !important;
    font-weight: bold !important;
  }

  // Convert colors to grey-scale

  body, p, h2, h3, th, tr, td, li  {
    color: black !important;
  }

  td:last-child {
    border-right: 1px solid grey;
  }

  td {
    border: 1px solid grey !important;
  }

  // Resize text

  .regiment {
    font-size: $printTextSize !important;
  }

  .insulinActionTime {
    font-size: $printTextSize !important;
    input {
    }
  }

  table {
    margin-bottom: 10px;
    box-shadow: none;
    border: 0px;
    font-size: $printTextSize !important;

    th {
      border-radius: 0px !important;
      background: white;
      border: none !important;
    }

    tr {
      border: 0px;

      &:last-child {
        display: none;
      }
    }
  }
}
a:hover {
  cursor: pointer;
}
.notification {
  position: fixed;
  top: 0px;
  min-width: 150px;
  margin-left: -90px;
  padding: 15px;
  background: white;
  left: 50%;
  color: green;
  font-size: 15px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  text-transform: uppercase;
  text-align: center;
  display: none;
}

.menu {
  position: fixed;
  min-width: 730px;
  bottom: 0px;
  left: 50%;
  transform: translate(-50%, 0);
  padding: 0px 20px;
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
  text-align: center;
  background-color: rgba(98, 122, 128, 0.95);
  .button {
    margin: 15px 4px 15px 4px;
  }
}
