// PARTIALS
@import "partials/_reset.scss";

// FONT IMPORTS
@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:200,300,400,700');

// COLORS
$bg: #3498db;
$primBG: #ecf0f1;
$secBG: #cfd9db;
$primFont: #3c4b4f;
$secFont: #79939a;
$button: #99cbed;

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.15em;
  line-height: 1.6em;
  background: $bg;
  color: $primFont;

  p {
    color: $primFont;
    line-height: 1.6em;
  }



  div#app {
    background: $primBG;
    margin: 10% auto;
    display: block;
    margin: 4% auto;
    padding: 4%;
    min-width: 400px;
    max-width: 800px;
    border-radius: 4px;
    box-shadow: 0px 1px 4px #196090;

    section {
      padding-bottom: 35px;
    }

    h1 {
      font-size: 1.25em;
      line-height: 1.2em;
      font-weight: 400;
      padding-bottom: 25px;

      b {
        font-size: 0.80em;
        font-weight: 200;
        text-transform: uppercase;
        padding-left: 15px;
      }
    }
    p.description {
      font-size: 0.8em;
      color: $secFont;
    }

  }
}

li {
  padding: 5px;
}

section.waiting {
  background: $secBG;
  padding: 0px;
  color: green;
  border-radius: 4px;
  display: inline-block;
}

table {

  tr {
    padding-top: 20px;
  }

  th {
    position: relative;
    left: 5px;
    font-size: 0.70em;
    color: $secFont;
  }

}


h2 {
  padding-top: 20px;
  padding-bottom: 10px;
}

.button {
  font-size: 0.85em;
  font-weight: 200;
  text-transform: uppercase;
  background: $button;
  padding: 7px 10px;
  color: white;
  border-radius: 4px;
  display: inline-block;

  &:hover{
  background: $bg;
  }

  i {
    font-size: 0.80em;
    font-weight: 400;
    position: relative;
    bottom: 0.15em;
    padding-left: 0.25em;
  }

}

@media print {

  #app {
    border-radius: 0px !important;
    box-shadow: 0px 0px 0px red !important;
  }

  // Hide stuff not needed in print
  .pump, .notfound, .waiting, .print {
  display: none;
  }

  table {

     border: 0px;

     th {

     }

     tr {

     }

     tr {

    }
  }
}
